@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';


header {
    background-color: white;
    padding: 1rem 0;

    .logo {
        img {
            height: 70px;
        }
    }

    ul {
        list-style: none;
        display: flex;

        li {
            a {
                padding: 2rem;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 500;
                color: $dc-dark;

                &:hover {
                    color: $dc-primary;
                    border-bottom: 4px solid $dc-primary;
                }
            }
        }
    }
}

.heroImage {
    background-image: url('../img/jumbotron.jpg');
    height: 400px;
}

.comicsList {
    h2 {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        background-color: $dc-primary;
        margin-top: -2rem;
        margin-bottom: 4rem;
    }

    padding-bottom: 3rem;
}

.comic {
    img {
        max-width: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

.banner {
    background-color: $dc-primary;
    padding: 1rem 0;

    .item {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        img {
            height: 80px;
        }
    }
}

footer {
    .top {
        background-image: url('../img/footer-bg.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .container {
            background-image: url('../img/dc-logo-bg.png');
            background-position: right center;
            background-repeat: no-repeat;
        }

        h3 {
            text-transform: uppercase;
            margin: 1rem 0;
            color: white;
        }

        ul {
            list-style: none;
            margin-bottom: 1rem;

            li {
                a {
                    text-decoration: none;
                    color: $dc-light-dark;
                }
            }
        }
    }

    .bottom {
        background-color: $dc-dark;
        padding: 1rem;

        .btn.btn-primary {
            display: inline-block;
            padding: 0.75rem 1.5rem;
            border: 1px solid $dc-primary;
            text-transform: uppercase;
            color: $dc-light;
            text-decoration: none;

            &:hover {
                background-color: $dc-primary;
            }
        }

        .social {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;

            h3 {
                color: $dc-primary;
                text-transform: uppercase;
            }
        }
    }
}